<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{items.add.title}">Add item</title>
</head>
<body>
<span layout:fragment="title" th:text="#{items.add.title}">Create new item.</span>
<div layout:fragment="content">
    <div class="container">
    <form  method="post" th:action="@{/products/newitem/add}">
        <div class="form-group">
            <label for="item-title" th:text="#{allocations.fields.itemName}">Item name</label>
            <input class="form-control" type="text" id="item-title" name="title" th:placeholder="#{allocations.fields.itemName.input}">
        </div>
        <div class="form-group">
            <label for="price" th:text="#{allocations.fields.price}">Price</label>
            <input class="form-control" type="number" min="0.00" max="10000.00" step="0.01" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="release-date" th:text="#{allocations.fields.releaseDate }">Release date</label>
            <input class="form-control" type="date" id="release-date" name="release" th:placeholder="#{allocations.fields.releaseDate.input }">
        </div>
        <div class="form-group">
            <label for="author" th:text="#{allocations.fields.author }">Author</label>
            <input class="form-control" type="text" id="author" name="author" th:placeholder="#{allocations.fields.author.input }">
        </div>
        <div class="form-group">
            <label for="genre" th:text="#{allocations.fields.type }">Genre</label>
            <input class="form-control" type="text" id="genre" name="genre" th:placeholder="#{allocations.fields.type.input }">
        </div>
        <div class="form-group">
            <label for="tracks" th:text="#{allocations.fields.track.number }">tracks</label>
            <input class="form-control" type="text" id="tracks" name="tracks" th:placeholder="#{allocations.fields.track.number.input }">
        </div>
        <button type="submit" class="btn btn-primary float-right" th:text="#{buttons.add}"></button>
        <div class="clearfix"></div>
    </form>
    </div>
</div>
</body>
</html>