<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{items.add.title}">Add item</title>
</head>
<body>
<span layout:fragment="title" th:text="#{items.add.title}">Create new item.</span>
<div layout:fragment="content">
    <div class="container">
    <form  method="post" th:action="@{/products/newitem/add}">
        <div class="form-group">
            <label for="item-title" th:text="#{allocations.fields.itemName}">Item name</label>
            <input class="form-control" type="text" id="item-title" name="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="price" placeholder="price">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="release" placeholder="release">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="author" placeholder="author">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="genre" placeholder="genre">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="tracks" placeholder="tracks">
        </div>
        <button type="submit" class="btn btn-primary float-right" th:text="#{buttons.add}"></button>
        <div class="clearfix"></div>
    </form>
    </div>
</div>
</body>
</html>