<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{allocations.title}">Home</title>
</head>
<body>
<span layout:fragment="title" th:text="#{allocations.list.title}">Storage items</span>
<div layout:fragment="content">
    <button type="button" class="btn btn-secondary" th:replace="fragments.html :: button (@{/addUser}, #{buttons.add})">Add</button>
    <table>
        <tbody>
        <tr th:each="allo : ${allocations}">
            <td th:text="${allo.startTime}" />
            <td><button type="button">Wypożycz</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>