<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{home.title}">Home</title>
</head>
<body>
<span layout:fragment="title" th:text="#{home.welcome}">Storage items</span>
<div layout:fragment="content">
    <a class="btn btn-light" type="button" th:href="@{/products/newitem}">Add new item</a>
    <table>
        <tbody>
        <tr th:each="allo : ${allocations}">
            <td th:text="${allo.startTime}" />
            <td><button type="button">Wypożycz</button></td>
        </tr>
        </tbody>
    </table>
    <!--    <p th:text="#{home.content}">This is an example</p>-->
    <!--    <a th:block th:each="item : ${items}">-->
    <!--        <b  th:text="${item.title}"></b>-->
    <!--    </a>-->
    <!--        th:each="item : ${greeting.list}"-->
</div>
</body>
</html>