<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form action="#" th:fragment="del-button (actionUrl, btnText, disabled)" th:action="${actionUrl}">
    <button type="submit" class="btn btn-danger btn-sm" th:text="${btnText}" th:disabled="${disabled}">button</button>
</form>
<form action="#" th:fragment="mod-button (actionUrl, btnText, disabled)" th:action="${actionUrl}">
    <button type="submit" class="btn btn-secondary btn-sm" th:text="${btnText}" th:disabled="${disabled}">button</button>
</form>
<form action="#" th:fragment="lend-button (actionUrl, btnText, disabled)" th:action="${actionUrl}">
    <button type="submit" class="btn btn-primary btn-sm" th:text="${btnText}" th:disabled="${disabled}">button</button>
</form>

<form action="#" th:fragment="sec-button (actionUrl, btnText)" th:action="${actionUrl}">
    <button type="submit" class="btn btn-secondary" th:text="${btnText}" >button</button>
</form>

<form action="#" th:fragment="modify-button (actionUrl, btnText)" th:action="${actionUrl}">
    <button type="submit" class="btn btn-dark btn-sm" th:text="${btnText}" >button</button>
</form>
<form action="#" th:fragment="ack-button (actionUrl, btnText, disabled)" th:action="${actionUrl}">
    <button type="submit" class="btn btn-success btn-sm" th:text="${btnText}" th:disabled="${disabled}">button</button>
</form>
<form action="#" th:fragment="pri-button (actionUrl, btnText)" th:action="${actionUrl}">
    <button itype="submit" class="btn btn-primary" th:text="${btnText}">button</button>
</form>
</body>
</html>