<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{home.title}">Home</title>
</head>
<body>
    <span layout:fragment="title" th:text="#{home.welcome}">Welcome!</span>
    <div layout:fragment="content">
        <p th:text="#{home.content}">This is our service.</p>
    </div>
</body>
</html>