<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{items.list.title}">Home</title>
</head>
<body>
<span layout:fragment="title" th:text="#{items.list.title}">Storage items</span>
<div layout:fragment="content">
    <div class="alert alert-danger" role="alert" th:each="error : ${errors}" th:text="#{*{error.errorMessageProperty}}">
        Error
    </div>
    <button type="button" class="btn btn-secondary" th:replace="fragments.html :: sec-button(@{/products/newitem}, #{buttons.add})">Add</button>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" th:text="#{tables.num}">No.</th>
                <th scope="col" th:text="#{items.fields.title}">Title</th>
                <th scope="col" th:text="#{items.fields.releaseDate}">Release date</th>
                <th scope="col" th:text="#{items.fields.sticker}">Sticker</th>
                <th scope="col" th:text="#{items.fields.type}">Type</th>
                <th scope="col" th:text="#{items.fields.price}">Price</th>
                <th scope="col" th:text="#{general.tables.action}">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, stat : ${items}">
                <th th:text="${stat.count}">1</th>
                <td th:text="${item.title}">Item title</td>
                <td th:text="${#dates.format(item.releaseDate, 'dd-MM-yyyy')}">20.20.2020</td>
                <td th:text="${{item.sticker}}">Yes, please</td>
                <td th:text="${item instanceof T(com.jaba.webapp.domain.item.Album)} ? #{items.types.album} : #{items.types.video}">Album</td>
                <td th:text="${#numbers.formatDecimal(item.price,2,2)}+' PLN'">20.90$</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-primary" th:if="${item.available}" th:text="#{allocations.add.title}" th:href="@{/loans/addLoan/{id}(id=${item.id})}">Lend</a>
                            <a class="dropdown-item text-primary" th:if="${!item.available}" th:text="#{loans.return}" th:href="@{/loans/removeLoan/{id}(id=${item.id})}">Return</a>
                            <a class="dropdown-item" th:classappend="${item.available} ? 'text-danger' : 'disabled' "
                               th:text="#{allocations.add.delete}" th:href="${item.available} ? @{/products/delete/{id}(id=${item.id})} : ''">Delete</a>
                            <a class="dropdown-item text-dark" th:text="#{allocations.add.modify}" th:href="@{/products/modifyitem/{id}(id=${item.id})}">Modify</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>