<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{items.list.title}">Home</title>
</head>
<body>
<span layout:fragment="title" th:text="#{items.list.title}">Storage items</span>
<div layout:fragment="content">
    <div class="alert alert-danger" role="alert" th:each="error : ${errors}" th:text="#{*{error.errorMessageProperty}}">
        Error
    </div>
    <button type="button" class="btn btn-secondary" th:replace="fragments.html :: sec-button(@{/products/newitem}, #{buttons.add})">Add</button>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" th:text="#{tables.num}">No.</th>
                <th scope="col" th:text="#{items.fields.title}">Title</th>
                <th scope="col" th:text="#{items.fields.releaseDate}">Release date</th>
                <th scope="col" th:text="#{items.fields.sticker}">Sticker</th>
                <th scope="col" th:text="#{items.fields.type}">Type</th>
                <th scope="col" th:text="#{items.fields.price}">Price</th>
                <th scope="col" th:text="#{general.tables.action}">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, stat : ${items}">
                <th th:text="${stat.count}">1</th>
                <td th:text="${item.title}">Item title</td>
                <td th:text="${#dates.format(item.releaseDate, 'dd-MM-yyyy')}">20.20.2020</td>
                <td th:text="${{item.sticker}}">Yes, please</td>
                <td th:text="${item instanceof T(com.jaba.webapp.domain.item.Album)} ? #{items.types.album} : #{items.types.video}">Album</td>
                <td th:text="${#numbers.formatDecimal(item.price,2,2)}+' PLN'">20.90$</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item text-primary" th:if="${item.available}" th:text="#{allocations.add.title}" th:href="@{/loans/addLoan/{id}(id=${item.id})}">Lend</a>
                            <a class="dropdown-item text-primary" th:if="${!item.available}" th:text="#{loans.return}" th:href="@{/loans/removeLoan/{id}(id=${item.id})}">Return</a>
                            <a class="dropdown-item" th:classappend="${item.available} ? 'text-danger' : 'disabled' "
                               th:text="#{allocations.add.delete}" th:href="${item.available} ? @{/products/delete/{id}(id=${item.id})} : '#'"
                               data-toggle="modal" data-target="#deleteModal" th:attrappend="data-item-title=${item.title}, data-item-id=${item.id}">Delete</a>
                            <a class="dropdown-item text-dark" th:text="#{allocations.add.modify}" th:href="@{/products/modifyitem/{id}(id=${item.id})}">Modify</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{items.modal.delete}">Delete this item?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="delete-window-body">
                    Are you sure you want to delete Unknown Pleasures?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{buttons.cancel}">Cancel</button>
                    <form action="#" id="modal-form-delete">
                        <button type="submit" class="btn btn-danger" th:text="#{buttons.delete}">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var title = button.data('item-title');
            var id = button.data('item-id');
            var modal = $(this);
            var text = /*[[#{general.delete.confirm}]]*/;
            var url = /*[[@{/products/delete/}]]*/;
            modal.find('#delete-window-body').text(text.replace("{0}", title));
            modal.find('#modal-form-delete').attr("action", url.replace("\\", "")+id);
        })
        /*]]>*/
    </script>
</div>
</body>
</html>
