<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{users.title}">Users</title>
</head>
<body>
<span layout:fragment="title" th:text="#{users.title}">Users</span>
<div layout:fragment="content">
    <button type="button" class="btn btn-secondary" th:replace="~{fragments :: sec-button(@{/addUser}, #{buttons.add})}">Add</button>

    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col" th:text="#{tables.num}">No.</th>
            <th scope="col" th:text="#{users.fields.username}">Username</th>
            <th scope="col" th:text="#{users.fields.type}">Type</th>
            <th scope="col" th:text="#{users.fields.active}">Active</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, stat : ${allUsers}">
            <th th:text="${stat.count}">1</th>
            <td th:text="${user.username}">Nick</td>
            <td th:text="${{user.accountType}}">Admin</td>
            <td th:text="${user.active} ? #{general.yes} : #{general.no}">Yes</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>