<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{users.title}">Users</title>
</head>
<body>
<span layout:fragment="title" th:text="#{users.title}">Users</span>
<div layout:fragment="content">
    <form class="form-inline mb-4" th:action="@{/users}" method="get">
        <div class="form-group">
            <input type="text" class="form-control" id="usernameSearch" name="username" th:placeholder="#{users.search.username}" placeholder="Search by username">
        </div>
        <button type="submit" class="btn btn-secondary ml-2" th:text="#{general.tables.search}">Search</button>
    </form>
    <button type="button" class="btn btn-secondary" th:replace="~{fragments :: sec-button(@{/addUser}, #{buttons.add})}">Add</button>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col" th:text="#{tables.num}">No.</th>
            <th scope="col" th:text="#{users.fields.username}">Username</th>
            <th scope="col" th:text="#{users.fields.type}">Type</th>
            <th scope="col" th:text="#{users.fields.active}">Active</th>
            <th scope="col" th:text="#{general.tables.action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, stat : ${allUsers}">
            <th th:text="${stat.count}">1</th>
            <td th:text="${user.username}">Nick</td>
            <td th:text="${{user.accountType}}">Admin</td>
            <td th:text="${user.active} ? #{general.yes} : #{general.no}">Yes</td>
            <td>
                <div class="btn-group" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                    <span th:if="${user.active}" th:class="mr-1">
                        <button type="button" th:replace="~{fragments :: del-button(@{/deleteUser/{id}(id=${user.id})}, #{users.block}, ${!user.active})}" >Block</button>
                    </span>
                    <span th:if="${!user.active}" class="mr-2">
                        <button type="button" th:replace="~{fragments :: ack-button(@{/upUser/{id}(id=${user.id})}, #{users.unlock}, ${user.active})}" >Unblock</button>
                    </span>
                    <button  type="button" th:replace="~{fragments :: modify-button(@{/modifyUser/{id}(id=${user.id})}, #{users.modify})}" >Modify</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
