<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">AUVI</title>
        <link rel="stylesheet" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <script src="../../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script src="../../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
        <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <span class="navbar-brand">AUVI</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav" >
                        <a class="nav-item nav-link" href="/" th:href="@{/}" th:text="#{layout.home}">Home</a>
                        <a sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="nav-item nav-link" href="/users" th:href="@{/users}" th:text="#{layout.clients}">Clients</a>
                        <a class="nav-item nav-link" href="/products" th:href="@{/products}" th:text="#{layout.products}">Products</a>
                        <a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_RESOURCE_MANAGER')" class="nav-item nav-link" href="/allocations" th:href="@{/allocations}" th:text="#{layout.allocations}">Allocations</a>
                    </div>
                    <div class="nav navbar-nav ml-auto" >
                        <a class="nav-item nav-link disabled text-success" href="/"  sec:authentication="name"></a>
                        <a class="nav-item nav-link disabled text-success" href="/" sec:authentication="principal.authorities"></a>
                        <a class="nav-item nav-link text-danger" href="/logout" th:href="@{/logout}" th:text="#{home.logout.button}">Logout</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container shadow bg-white rounded p-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" th:each="entry, iterStat : ${session.currentBreadCrumb}"><a href="" th:href="@{${iterStat.last} ? '' : ${entry.url}}" th:text="#{${entry.label}}" th:classappend="${entry.currentPage} ? 'active' : ''">Home</a></li>
                </ol>
            </nav>
            <div class="p-4">
                <h3 class="mb-5"><th:block layout:fragment="title">Page title</th:block></h3>
                <div layout:fragment="content">
                    <p>Page content</p>
                </div>
            </div>
        </div>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
                <small th:text="#{footer.text}"></small>
            </div>
        </footer>
    </body>
</html>