<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">AUVI</title>
        <link rel="stylesheet" href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <script src="../../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body class="bg-dark">
        <div class="container shadow bg-white rounded p-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item"><a href="/customers" th:href="@{/customers}">Clients</a></li>
                    <li class="breadcrumb-item"><a href="/products" th:href="@{/products}">Products</a></li>
                    <li class="breadcrumb-item"><a href="/allocations" th:href="@{/allocations}">Allocations</a></li>
                </ol>
            </nav>
            <div class="p-4">
                <h3><th:block layout:fragment="title">Page title</th:block></h3>
                <div layout:fragment="content">
                    <p>Page content</p>
                </div>
            </div>
        </div>
    </body>
</html>